page-setting {
    // .colorBg{

    //     background-color: #151A1D;
    //     color: #B1B1B1;
    //     width: 120%;
    //     margin-left: -9.2%;
    //     margin-top: -3%;
        

        
    // }
    // .spacebar{
        
    //     background-color: #151A1D;
    //     color: #A19D9D;
    //     padding-left: 5%;
    // }
    // .bg-stype{
    //     background-color: #151A1D;
       
    // }
    // .bgdark{
    //     background-color: #151A1D;
    // }
    // .toggleright{
    //    margin-left:10%;
    // }
    // .spacebarFiger{
        
    //     background-color: #151A1D;
    //     color: #A19D9D;
    //     padding-left: 1%;
    // }
    // .left{
    //     margin-left: -4%;
    //     margin-top: -5%;
    //     width: 110%;
        
    // }

    // .label[stacked] {
    //     font-size: 13px;
    //     font-weight: 500;
    // }
    // .list .item-block .item-inner {
    //     border-bottom: 1px solid rgba(222, 222, 222, 0.18);
    // }

    // .text-input-md-highlight-color,.item-input-has-focus .label[stacked], .input-has-focus .label[stacked], .item-input-has-focus .label[floating], .input-has-focus .label[floating]{
    //     color:#F0B90B;
    // }

    
    // .list-md .item-input:last-child {
    //    border-bottom: 0px solid #dedede; 
    // }

    // .list-md > .item-block:last-child .item-inner, .list-md > .item-wrapper:last-child ion-label, .list-md > .item-wrapper:last-child .item-inner {
    //     border-bottom: 1px solid rgba(222, 222, 222, 0.18);
    // }
    // .list-md > .item-block:first-child .item-inner, .list-md > .item-wrapper:first-child ion-label, .list-md > .item-wrapper:first-child .item-inner {
    //     border-bottom: 1px solid rgba(222, 222, 222, 0.18);
    // }
    // p{
    //     text-align: center;
    //     color:#F0B90B;
    //     font-size: 12px;
    //     font-weight: 500;
    // }
    // .error{
    //     font-size: 10px;
    //     color: rgba(255, 0, 0, 0.59);
    //     padding-left: 2%;
    // }

    .item-md [item-left], .item-md [item-right], .item-md [item-start], .item-md [item-end] {
        margin: 9px -9px 7px 0;
        text-align: right;
    }
    .item {
        padding-left: 0px;
        padding-right: 0px;
        position: relative;
        font-weight: normal;
        text-transform: none;
        font-size: 15px;
        color: rgb(201, 201, 201);
        background-color: #262D33;
        box-shadow: none;
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .list {
        margin-left: -5%;
        margin-top: -4%;
        padding-top: 1%;
        width: 110%;
    }

    .label {
        margin: 13px 8px 13px 13px;
    }
}
